= simple_form_for @task, html: { class: 'form-horizontal'} do |f|
  .fields
    .container
      .row
        .col-md-2
          = f.input :name
          = f.grouped_collection_select :global_client, [ Company, Individual], :all, :model_name, :to_global_id, :name
          %br
          %br
          = f.button :submit, class: 'btn btn-primary'


