= simple_form_for @individual, html: { class: 'form-horizontal'} do |f|
  .fields
    .container
      .row
        .col-md-2
          = f.input :name
          %br
          = f.button :submit, class: 'btn btn-primary'


